
// products starts
.products-container {

    .products-flex-container {
        display: flex;
        flex-direction: row;
        column-gap: 32px;
        margin-top: 96px;
        margin-bottom: 100px;

        .product-1 {
            flex: 50%;
            p:nth-of-type(1) {
                font-size: 20px;
                line-height: 25px;
                color: #43BA7F;
            }
            p:nth-of-type(2) {
                font-size: 34px;
                line-height: 43px;
                color: #212121;
                margin-bottom: 35px;
            }
            .product-img {
                height: 827px;
                width: 100%;
                background-image: url('../home/homeimages/product\ 1.jpg');
                background-size: cover;             
                background-repeat: no-repeat;
                position: relative;
                border-radius: 8px;

                div {
                    color: #fff;
                    font-size: 34px;
                    line-height: 43px;
                    position: absolute;
                    top: 48px;
                    left: 48px;
                }
            }
        }

        .product-2 {
            flex: 50%;
            .product-img {
                height: 827px;
                width: 100%;
                background-image: url('../home/homeimages/product\ 2.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                position: relative;
                border-radius:8px;

                div {
                    font-size: 34px;
                    line-height: 43px;
                    color: #fff;
                    position: absolute;
                    top: 36px;
                    left: 43px;
                }
            }

            p {
                font-size: 20px;
                line-height: 25px;
                text-align: right;
                margin-top: 50px;
                color: #3878F2;
            }
        }
    }
}

@media only screen and (max-width: 425px) {

    .products-container{
        margin-top: 48px;
        .products-flex-container {
            flex-direction: column;
            row-gap: 40px;

            .product-1 {
                flex: 100%;

                p:nth-of-type(1) {
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                }
                p:nth-of-type(2) {
                    font-size: 24px;
                    line-height: 30px;
                    width: 272px;
                    margin: 8px auto 40px auto;
                    text-align: center;
                }
                .product-img {
                    max-width: 100%;
                    height: 458px;

                    div {
                        font-size: 24px;
                        line-height: 30px;
                        top: 27px;
                        left: 27px;
                    }
                }
            }

            .product-2 {
                flex: 100%;
                .product-img {
                    max-width: 100%;
                    height: 458px;
                    
                    div {
                        font-size: 24px;
                        line-height: 30px;
                        top: 27px;
                        left: 27px;
                    }
                }
                p {
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                    margin-top: 48px;
                    margin-right: 0px;
                }
            }
        }
    }
}
// products ends